<div id="containerArduino" class="flex flex-wrap justify-center bg-gray-300 p-5 rounded-xl w-48 m-4">
    <img src="../arduino.png" id="arduino" class="" alt="arduinoLogo">
</div>

<style>
    div{
        cursor: pointer;
    }
    #containerArduino{
  background: rgb(209 213 219); /* color de fondo */
  color: #000; /* color de fuente */
  padding: 16px 20px;
  border-radius: 0.75rem; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 200ms;
}

#containerArduino::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#containerArduino:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#containerArduino:hover {
  scale: 0.95;
  transition: all 200ms;
}

</style>