<section id="infoArduino" class="bg-black rounded-xl text-white p-6 md:w-auto w-2/3">
    <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" id="closeButtonArduino" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
      </svg></button>
    <p class="p-4"><span class="font-extrabold">- Arduino Uno</span>: Sirve para desarrollar elementos autónomos, o bien conectarse a otros dispositivos o interactuar con otros programas, para interactuar tanto con el hardware como con el software.
    </p>

</section>


</div>
<div class="flex flex-wrap justify-center">
    <img src="../arduino.png" id="arduino" class="bg-gray-300 p-5 rounded-xl h-32 w-32 m-4" alt="arduinoLogo">
</div>

<script>
    const openButton = document.querySelector("#arduino");
   const closeButton = document.querySelector("#closeButtonArduino");
   const menu = document.querySelector("#infoArduino");
   const body = document.querySelector("body")

openButton.addEventListener("click", () => {
   menu.style.display = "block";
   body.style.background = "#222"
});

closeButton.addEventListener("click", () => {
   menu.style.display = "none";
   body.style.background = "initial";
});
</script>

<style>
    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; /* Inicialmente oculto */
    }
    svg{
        scale: 1.7;
        
    }
    img{
        cursor: pointer;
    }
</style>