<div id="containerAstro" class="rounded-xl w-full h-full flex-col flex justify-center items-center row-span-3 col-span-full md:col-span-5 md:row-span-1">
    <img src="../astro.png" id="Astro" class="" alt="astroLogo">
    <span class="font-bold">Astro</span>
</div>

<style>
#containerAstro{
  box-shadow:0 2px 8px 0 rgb(32, 33, 36);
}
</style>