<div id="containerCss" class="rounded-xl w-full h-full flex justify-center items-center row-span-3 col-span-full md:col-span-3 md:row-span-2">
    <img src="../css.png" id="css" class="" alt="cssLogo">
</div>


<style>
#containerCss{
  box-shadow:0 2px 8px 0 rgb(32, 33, 36);
}
img{
  object-fit: cover;
}
</style>