<div id="containerCss" class="flex flex-wrap justify-center bg-gray-300 p-5 rounded-xl w-48 h-48">
    <img src="../css.png" id="css" class="" alt="cssLogo">
</div>


<style>
    div{
        cursor: pointer;
    }
    #containerCss{
  background: rgb(209 213 219); /* color de fondo */
  color: #000; /* color de fuente */
  padding: 16px 20px;
  border-radius: 0.75rem; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 200ms all;
  height:60px;
  flex-grow: 1;
  object-fit: cover;
}

#containerCss::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#containerCss:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#containerCss:hover {
  scale: 0.95;
  height: 150px;
  transition: all 700ms;
}
#containerCss:hover > img {
  object-fit: contain;
  transition: all 700ms;
}
img{
  object-fit: cover;
}
</style>