<div id="containerHtml" class="rounded-xl w-full h-full flex justify-center items-center row-span-3 col-span-full md:col-span-3 md:row-span-4">
    <img src="../html.png" id="html" class="" alt="htmlLogo">
</div>


<style>
#containerHtml{
    box-shadow:0 2px 8px 0 rgb(32, 33, 36);
}
img{
  object-fit: cover;
} 
</style>