<div id="containerjavaScript" class="rounded-xl w-full h-full flex justify-center items-center row-span-3 col-span-full md:col-span-6 md:row-span-1">
    <img src="../javascript.png" id="javascript" class="" alt="javascriptLogo">
</div>



<style> 
#containerjavaScript{
  box-shadow:0 2px 8px 0 rgb(32, 33, 36);
}
img{
  object-fit: cover;
}
</style>