<div id="containerTailwind" class="flex flex-wrap justify-center bg-gray-300 p-5 rounded-xl w-48 h-48">
    <img src="../tailwind.png" id="tailwind" class="" alt="tailwindLogo">
    <span class="font-bold">Tailwind</span>
</div>



<style>
    div{
        cursor: pointer;
    }
#containerTailwind{
  background: rgb(209 213 219); /* color de fondo */
  color: #000; /* color de fuente */
  padding: 16px 20px;
  border-radius: 0.75rem; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 200ms;
  height:60px;
  flex-grow: 1;
}

#containerTailwind::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#containerTailwind:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#containerTailwind:hover {
  scale: 0.95;
  transition: all 200ms;
}
#containerTailwind:hover {
  scale: 0.95;
  height: 150px;
  transition: all 700ms;
}
#containerTailwind:hover > img {
  object-fit: contain;
  transition: all 700ms;
}
img{
  object-fit: cover;
}
</style>