<div id="containerTailwind" class="rounded-xl w-full h-full flex flex-col justify-center items-center row-span-3 col-span-full md:col-span-4 md:row-span-1">
    <img src="../tailwind.png" id="tailwind" class="" alt="tailwindLogo">
    <span class="font-bold">Tailwind</span>
</div>



<style>
#containerTailwind{
  box-shadow:0 2px 8px 0 rgb(32, 33, 36);
}
img{
  object-fit: cover;
}
</style>