---
import Git from '../../../components/icons/git-hub.astro' ;
import Instagram from '../../../components/icons/instagram.astro' ;
import Linkedin from '../../../components/icons/linkedin.astro' ;
import Gmail from '../../../components/icons/gmail.astro' ;

---


<section id="menuSarlinga" class="">
    <div class="flex flex-col items-center w-2/3 mx-auto"> 
        <img src="" class="mt-7 rounded-xl" width="600px" alt="">
        <h4>Santiago Ruiz</h4>
        <div class="flex w-60 justify-between mt-7">
            <Git />
            <Instagram />
            <Gmail />
        </div>
        <i class="mt-7">.</i><br>
<h3>¿Que hizo en el proyecto?</h3>
<i class="mt-7">.</i>
<button id="closeButtonSarlinga" class="mt-4 px-6 py-3 bg-[#eab208fe] text-white font-semibold rounded-lg shadow-md hover:bg-[#eab208] focus:outline-none focus:ring-2 focus:ring-blue-300 transition duration-300">Cerrar</button>

    </div>

</section>
<script>
    const openButton = document.querySelector("#buttonSarlinga");
    const closeButton = document.querySelector("#closeButtonSarlinga");
    const menu = document.querySelector("#menuSarlinga");
    const body = document.querySelector("body")

openButton.addEventListener("click", () => {
    menu.className = "animate__animated animate__zoomIn";
    menu.style.background = "#fdecda"
    menu.style.display = "block";
    menu.style.width = "91.67777%";
    menu.style.padding = "1rem";
    menu.style.borderColor = "#000";
    menu.style.borderWidth = "2px";
    menu.style.borderStyle = "double";
    menu.style.borderRadius = "0.375rem";
    menu.style.display = "block";
    body.style.background = "#222"
});

closeButton.addEventListener("click", () => {
    menu.style.display = "none";
    body.style.background = "initial";
});
</script>
<style>
svg{
    scale: 1.6;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
</style>
