---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Preguntas sobre Proyecto 6to 1ra -Huerta Automatizada">
    <Header />
    <section class="bg-green-500 text-white px-4 h-screen flex items-center">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-bold mb-4">¡Ayúdanos a Crecer!</h2>
            <p class="text-lg mb-8">Tu apoyo es esencial para seguir cultivando nuestra huerta y proporcionando alimentos frescos a la comunidad. Con tu donación, podemos expandir nuestras operaciones, mejorar nuestras instalaciones y ofrecer más productos.</p>
            <button id="buttonCopiar" class="bg-white text-green-500 hover:bg-gray-200 hover:text-green-600 font-semibold py-3 px-6 rounded-lg transition duration-300">Copiar Alias de Mercado Pago</button>
            <span id="contenidoCopiado" class="hidden">fico2007</span>
        </div>
    </section>
    <Footer />
    <script>
        let buttonCopiar = document.getElementById("buttonCopiar");
        let copiado = document.getElementById("contenidoCopiado");

        navigator.clipboard.writeText(copiado.textContent);
        copiado.textContent = "Copiado";
    </script>
</Layout>