---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Etapas 6to 1ra -Huerta Automatizada">
        <Header />
<section class="m-9">   
<ol class="relative border-s border-gray-700">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-1.5 -start-1.5 border border-white"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-700">Julio de 2024</time>
            <h3 class="text-lg font-semibold text-gray-900">Ideas para un proyecto</h3>
            <p class="mb-4 text-base font-normal text-gray-700">Para empezar nuestro proyecto nos queríamos decidir si hacer un brazo mecánico automatizado con Arduino o una huerta automatizada y por votación del curso se decidió hacer una huerta automatizada.
                Elegimos este proyecto debido a cuestiones de gustos como nuestra pasión por la automatización y a la naturaleza.</p>
        </li>
        <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-1.5 -start-1.5 border border-white "></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-700">Julio de 2024</time>
                <h3 class="text-lg font-semibold text-gray-900">¿Qué materiales, tecnologías y herramientas íbamos a utilizar?</h3>
                <p class="mb-4 text-base font-normal text-gray-700">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore ut odit molestiae asperiores, earum reprehenderit itaque beatae possimus sint enim. Voluptas dolorem iure aliquid voluptates dolores animi nulla aliquam recusandae?</p>
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-1.5 -start-1.5 border border-white "></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-700">Julio de 2024</time>
                <h3 class="text-lg font-semibold text-gray-900">Ideas para un proyecto</h3>
                <p class="mb-4 text-base font-normal text-gray-700">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore ut odit molestiae asperiores, earum reprehenderit itaque beatae possimus sint enim. Voluptas dolorem iure aliquid voluptates dolores animi nulla aliquam recusandae?</p>
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-1.5 -start-1.5 border border-white "></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-700">Julio de 2024</time>
                <h3 class="text-lg font-semibold text-gray-900">Ideas para un proyecto</h3>
                <p class="mb-4 text-base font-normal text-gray-700">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore ut odit molestiae asperiores, earum reprehenderit itaque beatae possimus sint enim. Voluptas dolorem iure aliquid voluptates dolores animi nulla aliquam recusandae?</p>
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-1.5 -start-1.5 border border-white "></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-700">Julio de 2024</time>
                <h3 class="text-lg font-semibold text-gray-900">Ideas para un proyecto</h3>
                <p class="mb-4 text-base font-normal text-gray-700">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore ut odit molestiae asperiores, earum reprehenderit itaque beatae possimus sint enim. Voluptas dolorem iure aliquid voluptates dolores animi nulla aliquam recusandae?</p>
            </li>
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-900 rounded-full mt-1.5 -start-1.5 border border-white "></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-700">Julio de 2024</time>
                <h3 class="text-lg font-semibold text-gray-900">Ideas para un proyecto</h3>
                <p class="mb-4 text-base font-normal text-gray-700">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore ut odit molestiae asperiores, earum reprehenderit itaque beatae possimus sint enim. Voluptas dolorem iure aliquid voluptates dolores animi nulla aliquam recusandae?</p>
            </li>

    </ol>
    
    
</section>
    
    
        <Footer />
</Layout>
