---
---


<header class="flex w-full flex-col">
    <nav class="flex text-sm font-medium text-gray-200 mx-auto items-center w-full">
        <a href="../"><img src="../hojaLogo.png"  width="70px" alt=""></a>
        <ul id="box" class="flex text-black justify-end opacity-90 p-6 w-full text-lg flex-wrap"> 
            <li class=><a href="../" class="p-2 rounded-lg opacity-90">Resumen</a></li>
            <li class=><a href="/integrantes" class="p-2 rounded-lg opacity-90">Integrantes</a></li>
            <li class=><a href="/preguntas" class="p-2 rounded-lg opacity-90">Preguntas</a></li>
            <li class=><a href="/etapas" class="p-2 rounded-lg opacity-90">Etapas</a></li>
            <li class=><a href="#Projects" class="p-2 rounded-lg opacity-90">Donar Aqui</a></li>
        </ul>
    </nav>
<header/>

<style>
    nav{
       background: #fff;
        border-bottom: 2px solid #000;
    }
    ul{
        border-left: 2px solid #000;
    }
    a:hover{
        background: #8b8b8b33;
        transition: 300ms;
    }
    a{
        transition: 300ms;
    }

</style>