---
import Corazon from '../components/icons/heart.astro'
---

<div id="xd">
  <header class="flex w-full flex-col fixed z-50">
    <nav id="nav-start" class="flex text-sm font-medium text-gray-200 mx-auto items-center w-full">
        <a class="animate__animated animate__backInRight" id="hojaLogo" href="../"><img src="../hojaLogo.png"  width="70px" alt=""></a>
        <ul id="box" class="flex text-black opacity-90 p-6 grow text-lg flex-wrap justify-start">
            <li id="resumen" class="flex items-center animate__animated animate__backInRight mx-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
              </svg><a href="../" class="p-2 rounded-lg opacity-90">Resumen</a></li>
            <li id="integrantes" class="flex items-center animate__animated animate__backInRight mx-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-standing" viewBox="0 0 16 16">
                <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0"/>
              </svg><a href="/integrantes" class="p-2 rounded-lg opacity-90">Integrantes</a></li>
            <li id="preguntas" class="flex items-center animate__animated animate__backInRight mx-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14"/>
              </svg><a href="/preguntas" class="p-2 rounded-lg opacity-90">Preguntas</a></li>
              
            <li id="etapas" class="flex items-center animate__animated animate__backInRight mx-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1"/>
              </svg><a href="/etapas" class="p-2 rounded-lg opacity-90">Etapas</a></li>
            <!--<li id="agradecimientos" class="flex items-center animate__animated animate__backInRight mx-4"><Corazon /><a href="/Agradecimientos" class="p-2 rounded-lg opacity-90">Agradecimientos</a></li>-->
        </ul> 
        <!-- <a href="/Crear-cuenta" id="button_inicio-sesion" class="items-center animate__animated animate__backInRight mx-4 text-black flex focus:outline-none focus:ring-4 font-medium rounded-lg text-base p-5 py-2.5 me-2 mb-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
    -      Crear cuenta</a> -->
  </ul>
    </nav>
    <nav id="nav-responsive" class="flex flex-col items-end text-lg font-medium text-black mx-auto w-full">
        <input type="checkbox" id="menu">
        <div class="w-full flex flex-row-reverse justify-between animate__animated animate__backInRight">
            <label for="menu" class="flex content-center"><svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="#000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg> </label>
            <a id="hoja" class="" href="../"><img src="../hojaLogo.png"  width="50px" alt=""></a>
        </div>
        <ul class="flex flex-col text-white justify-end opacity-90 w-full text-lg flex-wrap" >
            <a href="../" class="p-2 w-full opacity-90 animate__animated animate__backInRight">Resumen</a>
            <a href="/integrantes" class="p-2 opacity-90 animate__animated animate__backInLeft">Integrantes</a>
            <a href="/preguntas" class="p-2 opacity-90 animate__animated animate__backInRight">Preguntas</a>
            <a href="/etapas" class="p-2 opacity-90 animate__animated animate__backInLeft">Etapas</a>
            <a href="/Agradecimientos" class="p-2 opacity-90 animate__animated animate__backInRight">Agradecimientos</a>
            <!-- <a href="/Crear-cuenta" class="p-2 opacity-90 animate__animated animate__backInRight">Crear cuenta</a> -->
            
        </ul>
      </nav>
<header/>
</div>



<style>
  #resumen{
    animation-delay: 200ms;
  }
  #integrantes{
    animation-delay: 400ms;
  }
  #preguntas{
    animation-delay: 600ms;
  }
  #etapas{
    animation-delay: 800ms;
  }
  #agradecimientos{
    animation-delay: 1s;
  }
    #nav-responsive{
        display: none;
    }
    #nav-start{
        display: flex;
    }

    @media (max-width: 1000px){
        #nav-start{
            display: none;
        }
        #nav-responsive{
            display: flex;
        }
        ul{
  display: none;
}
input:checked  ~ ul{
  display:block;
}
input {
  display: none;
}
label {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  line-height: 50px;
  cursor: pointer;
}
label:hover {
    background: #eeeded;
}
svg{
    margin: auto;
}
a {
  display: block;
  color: #000;
  margin: 0;
  padding: 10px;
  list-style: none;
  

}
nav{
       background: #fff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.44);
    }
    }
    nav{
       background: #fff;
       box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.44);
    }
    ul{
    }
    li:hover{
        background: #e2e1e1;
        transition: 300ms;
    }
    a:hover{
        background: #e2e1e1;
        transition: 300ms;
    }
    li{
        transition: 300ms;
        border-radius: 6px;
    }
    #hoja{
        background: #fff;
    }
    #hojaLogo:hover{
      background:none;
    }
    #hojaLogo{
      animation-delay: 0;
    }
    #button_inicio-sesion:hover{
      background-color: #1f2937b8 
    }
</style>
