<h1 class="text-center mb-5 text-black font-extrabold underline" id="resumenHuerta">Huerta Automatizada</h1>
<main class="flex flex-col md:flex-row items-center md:items-start w-full py-5">
    <section class="md:w-2/3 mx-5 bg-[#fdecda] rounded-md">
        <div class="flex flex-col items-center p-4">
            <img class="rounded-[4px] my-2" src="huerta.webp" width="600px" alt="">
            <div class="h-[1px] w-3/4 bg-gray-950"></div>
            <p class="px-5">Una huerta automatizada es un sistema que combina la agricultura tradicional con tecnologías modernas para optimizar el cultivo de plantas de manera eficiente y sostenible, dicho proyecto se caracteriza por el monitoreo y ajuste implementado, que nos permite ver las condiciones del cultivo en tiempo real, lo que resulta en un mantenimiento reducido y una mayor productividad. </p>
        </div>
        <div class="flex flex-col items-center p-4">
            <img class="rounded-[4px] mb-6 mx-2" src="huerto-urbano.webp" width="600px" alt="">
            <div class="h-[1px] w-3/4 bg-gray-950"></div>
            <p class="px-5"> Con el proyecto ya idealizado, para continuar con la elaboracion requerimos de una serie de conocimientos en los cuales considaremos para proseguir, los cuales son Agronomía y botánica, Electrónica y Robótica, Programación y Hidráulica
</p>
        </div>
        <div class="flex flex-col items-center p-4">
            <img class="rounded-[4px] mb-6 mx-2" src="huerta2.webp" width="600px" alt="">
            <div class="h-[1px] w-3/4 bg-gray-950"></div>
            <p class="px-5"> De acuerdo con la informacion y los conocimientos en conjunto, iremos elaborando las metas a seguir, siempre pensando en facultades y desarrollo que nos beneficie tanto a nosotros como al ambiente. </p>
        </div>
    </section>
    <aside class="md:w-1/3 mt-5 mx-4 h-auto rounded-md md:mt-0">
        <div class="m-3 flex justify-center rounded-md flex-col bg-[#2dec1cb6]">
            <h2 class="text-center font-bold text-xl">Objetivos y Metas</h2>
            <p class="mt-5 font-semibold">● Sostenibilidad ambiental: minimizar el impacto ambiental a través de la utilización eficiente de recursos naturales y la reducción de residuos y emisiones.</p>
            <p class="mt-5 font-semibold">● Educación y concienciación: utilizar la huerta automatizada como una herramienta educativa para a enseñar al alumnado sobre agricultura sostenible y tecnología en el cultivo de alimentos. </p>
            <p class="mt-5 font-semibold">● Uso eficiente de recursos como agua y energía al programar sistemas automatizados según las necesidades de las plantas.</p>
            <p class="mt-5 font-semibold">● Monitoreo automatizado de condiciones como la humedad del suelo, la temperatura y la luz, permitiendo ajustes rápidos y precisos.</p>
            <p class="mt-5 font-semibold">● Monitoreo en tiempo real: implementar un sistema  un seguimiento que permita supervisar continuamente el estado de la huerta, incluyendo parámetros como la humedad del suelo, la temperatura y la luz.</p>
            <p class="mt-5 font-semibold">● Reducción de mano de obra necesaria para el mantenimiento diario de la huerta.</p>
        </div>
        <div class="m-3 flex justify-center px-4 rounded-md flex-col bg-[#2dec1cb6]">
            <h2 class="text-center font-bold text-xl">Usos y Beneficios</h2>
            <p class="mt-5 font-semibold">● Sostenibilidad ambiental: minimizar el impacto ambiental a través de la utilización eficiente de recursos naturales y la reducción de residuos y emisiones.</p>
            <p class="mt-5 font-semibold">● Educación y concienciación: utilizar la huerta automatizada como una herramienta educativa para a enseñar al alumnado sobre agricultura sostenible y tecnología en el cultivo de alimentos. </p>
            <p class="mt-5 font-semibold">● Uso eficiente de recursos como agua y energía al programar sistemas automatizados según las necesidades de las plantas.</p>
            <p class="mt-5 font-semibold">● Monitoreo automatizado de condiciones como la humedad del suelo, la temperatura y la luz, permitiendo ajustes rápidos y precisos.</p>
            <p class="mt-5 font-semibold">● Monitoreo en tiempo real: implementar un sistema  un seguimiento que permita supervisar continuamente el estado de la huerta, incluyendo parámetros como la humedad del suelo, la temperatura y la luz.</p>
            <p class="mt-5 font-semibold">● Reducción de mano de obra necesaria para el mantenimiento diario de la huerta.</p>
        </div>
    </aside>
    
</main>

<style>
    h1{
        font-size: clamp(14px,4vw + 1rem,64px)
    }
</style>
