---
import Arduino from "./tecnologias/arduino.astro"
import HTML from "./tecnologias/html.astro"
import CSS from "./tecnologias/css.astro"
import Javascript from "./tecnologias/javascript.astro"
import Astrolit from "./tecnologias/astro.astro"
import Tailwind from "./tecnologias/tailwind.astro"


---
<h1 class="text-center mb-5 text-black font-semibold text-6xl" id="resumenHuerta">Preguntas</h1>
<main>
    <div><h4 class="text-xl text-center mb-6 underline">¿Que tecnologías se usaron?</h4>
        <div class="mx-auto w-2/3 relative mt-20 flex justify-evenly flex-wrap">
            <Arduino />
            <HTML />
            <CSS />
            <Javascript />
            <Astrolit />
            <Tailwind />
    </div>
</main>

<style>

</style>