---
import Arduino from "./tecnologias/arduino.astro"
import HTML from "./tecnologias/html.astro"
import CSS from "./tecnologias/css.astro"
import Javascript from "./tecnologias/javascript.astro"
import Astrolit from "./tecnologias/astro.astro"
import Tailwind from "./tecnologias/tailwind.astro"


---
<h1 class="text-center mb-5 text-black font-semibold text-6xl" id="resumenHuerta">Preguntas</h1>
<main>
    <div><h4 class="text-xl text-center mb-6 underline">¿Que tecnologías se usaron?</h4>
        <div class="mx-auto w-2/3 relative mt-20 flex justify-evenly flex-wrap">
            <Arduino />
            <HTML />
            <CSS />
            <Javascript />
            <Astrolit />
            <Tailwind />
    </div>
    <div>
        <h4 class="text-xl text-center mb-6 underline">¿Donde esta alojado el codigo?</h4>
        <div class="mx-auto w-2/3">
            <p class="font-bold">Ambos códigos están alojados en GitHub si desea verlo:<br><br></p>
            <div class="flex flex-wrap justify-center">
                <a target="_blank" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2" href="https://github.com/Giozzi570/prueba-para-subir-cambios">Codigo de la pagina</a>
                <a target="_blank" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"  href="https://github.com/Giozzi570/Arduino-pantalla-lcd">Codigo de Arduino</a>
            </div>
            <p class="font-semibold text-center">Si desea darle una estrella a los proyectos se lo agradeceríamos.</p>
        </div>
        
    </div>
</main>

<style>

</style>