---
import Arduino from "./tecnologias/arduino.astro"
import HTML from "./tecnologias/html.astro"
import CSS from "./tecnologias/css.astro"
import Javascript from "./tecnologias/javascript.astro"
import Astrolit from "./tecnologias/astro.astro"
import Tailwind from "./tecnologias/tailwind.astro"


---
<h1 class="text-center mb-5 text-black font-semibold text-6xl" id="resumenHuerta">Preguntas</h1>
<main>
    <div><h4 class="text-xl text-center mb-6 underline mt-24">¿Que tecnologías se usaron?</h4>
        <div class="mx-auto relative mt-12 flex justify-evenly flex-wrap">
            <div id="container-tecno" class="flex-col items-center">
                <Arduino />
                <HTML />
                <CSS />
                <Javascript />
                <Astrolit />
                <Tailwind />
            </div>
    </div>
    <div>
        <h4 class="text-xl text-center my-6 underline">¿Donde esta alojado el codigo?</h4>
        <div class="mx-auto w-2/3">
            <p class="font-semibold">Ambos códigos están alojados en GitHub si desea verlo:<br><br></p>
            <div class="flex flex-wrap justify-center">
                <a target="_blank" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2" href="https://github.com/Giozzi570/prueba-para-subir-cambios">Codigo de la pagina</a>
                <a target="_blank" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"  href="https://github.com/Giozzi570/Arduino-pantalla-lcd">Codigo de Arduino</a>
            </div>
            <p class="font-semibold">Si desea darle una estrella o una reseña o avisarnos de algun problema a los proyectos se lo agradeceríamos.</p>
        </div>
        
    </div>
    <div class="mt-5"> 
        <h4 class="text-xl text-center my-6 underline">¿Que materiales se utilizaron en el proyecto de Huerta Automatizada?</h4>
        <div class="mx-auto w-2/3">
            <p class="font-semibold">
                <ul>
                <li>x4 Estructurales Perfil C De 60 cm.</li>
                <li>x4 Estructurales Perfil C De 80 cm.</li>
                <li>x4 Caño Estructural Cuadrado.</li>
                <li>Electrodos.</li>
                <li>Aerosol/es.</li>
                <li>Disco De Corte, Desbaste Y Mil Hojas.</li>
                <li>Broca De 12mm Para Metal.</li>
                <li>Sensor De Humedad HL-69 De Suelo Tierra Arduino.</li>
                <li>Sensor De Humedad Y Temperatura Dht11.</li>
                <li>Cables Hembra Hembra 40x20cm.</li>
                <li>Cables Macho Hembra 40x20cm.</li>
                <li>Cables Macho Macho 40x20cm.</li>
                <li>Duaitek Micro Motor N20-50RPM Caja Engranjes Metalica Arduino.</li>
                <li>Arduino Uno Ch340.</li>
                <li>x3 Boton Pulsador Sin Retencion.</li>
                <li>Fuente De Alimentación 6 V.</li>
                <li>Modulo Relay Rele 4 Canales 5v.</li>
                <li>Cables de 1mm.</li>
                <li>Cable Tipo Taller 2x2.5 Mm.</li>
                <li>Tierra, Planta y Agua.</li>
                <li>Display Lcd Arduino Raspberry Lcd1602.</li>
            </ul><br><br></p>
        </div> 
        
    </div>
    <div class="mt-5">
        <h4 class="text-xl text-center mb-6 underline">¿De donde surgio la idea de hacer la Huerta Automatizada?</h4>
        <div class="mx-auto w-2/3">
            <p class="font-semibold"><br><br></p>
        </div>
        
    </div>
    <!-- <div class="mt-5">
        <h4 class="text-xl text-center mb-6 underline">¿Cuantos recursos se destinaron a este proyecto?</h4>
        <div class="mx-auto w-2/3">
            <p class="font-semibold"><br><br></p>
        </div>
        
    </div> -->
    <!-- <div class="mt-5">
        <h4 class="text-xl text-center mb-6 underline">¿?</h4>
        <div class="mx-auto w-2/3">
            <p class="font-semibold"><br><br></p>
        </div> -->
        
    </div>
</main>

<style>
li{
    list-style-type:decimal;
    font-weight: 900;
    background: #0f0f0f47;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#container-tecno{
    display: flex;
    width: 500px;
}
</style>