---
import Git from '../../components/icons/git-hub.astro' ;
import Instagram from '../../components/icons/instagram.astro' ;
import Linkedin from '../../components/icons/linkedin.astro' ;
import Gmail from '../../components/icons/gmail.astro' ;

---



<section id="menuLuca" class="">
    <div class="flex flex-col items-center w-2/3 mx-auto"> 
        <img src="" class="mt-7 rounded-xl" width="600px" alt="">
        <h4>Luca Gambini</h4>
        <div class="flex w-60 justify-center mt-7">
             <!-- <a href="" target="_blank"><Git /></a> -->
             <a href="https://www.instagram.com/gambix_300/" target="_blank"><Instagram /></a>
             <!-- <a href="" target="_blank"><Gmail /></a> -->
        </div>
        <i class="mt-7">Soy estudiante de la técnica cuatro,me gusta el trabajo en la práctica sobre todo, y me esfuerzo para lograr mis metas..</i><br>
<h3>¿Que hizo en el proyecto?</h3>
<i class="mt-7">El estudiante realizó soldadura, trabajo con la amoladora y creación de la estructura del proyecto.</i>
<button id="closeButtonLuca" class="mt-4 px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 transition duration-300">Cerrar</button>

    </div>

</section>
<script>
    const openButton = document.querySelector("#buttonLuca");
    const closeButton = document.querySelector("#closeButtonLuca");
    const menu = document.querySelector("#menuLuca");
    const body = document.querySelector("body")

openButton.addEventListener("click", () => {
    menu.className = "animate__animated animate__fadeIn";
    menu.style.background = "#fdecda"
    menu.style.display = "block";
    menu.style.width = "91.67777%";
    menu.style.padding = "1rem";
    menu.style.borderColor = "#000";
    menu.style.borderWidth = "2px";
    menu.style.borderStyle = "double";
    menu.style.borderRadius = "0.375rem";
    menu.style.display = "block";
    body.style.background = "#222"
});

closeButton.addEventListener("click", () => {
    menu.style.display = "none";
    body.style.background = "initial";
});
</script>
<style>
svg{
    scale: 1.6;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
</style>
