---
import Git from '../../components/icons/git-hub.astro' ;
import Instagram from '../../components/icons/instagram.astro' ;
import Linkedin from '../../components/icons/linkedin.astro' ;
import Gmail from '../../components/icons/gmail.astro' ;

---



<section class="h-auto w-3/4 rounded-md  bg-[#fdecda] border-2 border-black border-double">
    <div class="flex flex-col items-center w-2/3 mx-auto"> 
        <img src="" class="mt-7 rounded-xl" width="600px" alt="">
        <h4>Valentina Gutierrez</h4>
        <div class="flex w-60 justify-between mt-7">
            <Git />
            <Instagram />
            <Gmail />
        </div>
        <i class="mt-7">Estudiante de E.E.S.T N4 Arsenal de Zárate, de la formación Técnico Electromecánico, con un fuerte de sentido de responsabilidad, buen desempeño en trabajo en equipo y paciente en la espera de buenos resultados.</i><br>
<h3>¿Que hizo en el proyecto?</h3>
<i class="mt-7">El estudiante trabajó en la parte de soldadura, soldando la estructura de la huerta en conjunto con Giozzi y Gambini. También trabajó en cortes de piezas con la amoladora y lijado de la estructura con la misma herramienta.</i>


    </div>

</section>
<style>
svg{
    scale: 1.6;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
</style>
